body {}

.navBar {
    padding-top: 3.3%;
}

.navLeft {
    padding-left: 15.3%;
}

.navRight {
    padding-right: 15.4%;
}

.ScanLocations_BGR {
    width: 100%;
    object-fit: contain;
    z-index: -100;
    top: 0;
    position: fixed;
}

.Logo_White {
    width: 7.3%;
    height: 3.7%;
    object-fit: contain;
}

.Background {
    width: 25%;
    height: 8%;
    margin-right: 0;
    margin-left: auto;
    margin-top: 0;
    padding-top: 0;
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.13);
    border: solid 1px #f4f4f4;
}

.number {
    width: 100%;
    height: 41.7%;
    font-family: Roboto;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    padding: 8px;
}

.input {
    width: 33.8%;
    height: 6.7%;
    border-radius: 100px;
    background-color: #ffffff;
    border: none;
}

.input input[type=text] {
    border: none;
    outline: none;
    width: 94%;
}

textarea:focus,
input[type=text]:focus {
    outline: none;
}

.CheckBusiness {
    width: 33.8%;
    height: 11.2%;
    font-family: "Roboto Slab", bold;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: #ffffff;
    text-align: center;
    margin-top: 8%;
}

.submit-btn {
    height: 6.7%;
    border-radius: 4px;
    background-color: #1875f0;
}

.As-seen-on {
    margin-top: 10%;
    width: 73.9px;
    height: 33.6px;
    font-family: "Roboto Slab", thin;
    font-size: 14.4px;
    font-weight: bold;
    line-height: 2.33;
    text-align: center;
    color: #ffffff;
}

.Logos {
    object-fit: contain;
}

.scan-form {
    width: 33.8%;
    height: 17%;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);

}
.container{
	width: 100%;
	height: 100%;
}
.overlay {
    position: fixed;
    /* Sit on top of the page content */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    margin-top: .5%;
    margin-left: 32.1%;
    margin-right: 33.1%;
    padding-bottom: 32%;
    
}
.info{
	background-color: #ffffff;
}
.line {
  width: 100%;
  height: .5%;
  background-color: #f5f5f5;
}
.Is-this-information {

  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  color: #666666;
  padding-top: 3.7%;
}
.If-not-please-enter {

  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  color: #999999;
  padding-top: 3.7%;
  
}